<div class="container" style="margin-top: 100px;">
  <div class="row">
	<div class="col-md-10">
      <div class="container" style="margin-bottom: 20px; margin-top: 10px;">
      <%= link_to 'Create Task', new_category_task_path, class:"btn btn-secondary btn-lg float-end" %>
      <h1>Task</h1>
      </div>



      <% @category.tasks.each do |task| %>
      <% if task.deadline < Date.today && task.finish == false %>     
      <%= task.name %>
      <%= "DEADLINE: #{task.deadline.to_s(:long)}" %>
      <%= task.details %>
      <%= link_to "Category: #{@category.name}", category_path(@category) %>
      </div>
        <div class="flex">
              <%= link_to category_task_path(@category,task) do %>
              <% end %>
              <%= link_to edit_category_task_path(@category,task) do %>
              <% end %>
              <%= link_to category_task_path(@category,task), method: :delete, data: { confirm: "Are you sure?" } do %>
              <% end %>
        </div>
    </div>
    <% end %>
  <% end %>
  </div>
</div>
