<h1>Show Task</h1>
<div class="container-fluid mt-3">
 <%= link_to edit_category_task_path(@category, @task) do %>
  <%= @task.name %>
  <%= "Deadline: #{@task.deadline.to_s(:long)}" %></h4>
  Status:
  <% if @task.deadline < Date.today && @task.finish == false %>
  Past Due
  <% elsif @task.deadline == Date.today && @task.finish == false %>
  Due Today
  <% elsif @task.deadline > Date.today && @task.finish == false %>
  Upcoming
  <% elsif @task.finish == true %>
  Finished
  <% end %>
  <%= @task.details %>
  <% end %>



<%= link_to "Edit", edit_category_task_path(@category, @task), class: 'btn btn-primary' %>
<%= link_to "Delete", category_task_path(@category, @task),
              method: :delete,
              data: { confirm: "Are you sure?" }, class: 'btn btn-danger' %>
<%= link_to "Back", category_tasks_path, class: 'btn btn-secondary'%>
</div>
