
<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <!-- Container wrapper -->
  <div class="container">
    <!-- Navbar brand -->
    <%= link_to "TGITDT", root_path, class: "navbar-brand" %>
    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarButtonsExample"
      aria-controls="navbarButtonsExample"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <% if user_signed_in? %>
    <div class="collapse navbar-collapse" id="navbarButtonsExample">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item ">
          <%= link_to 'Dashboard', categories_path, class:"text-light"%>
        </li>
      </ul>
      <!-- Left links -->
      <div class="d-flex align-items-center">
          <%= link_to "Sign out", destroy_user_session_path, protocol: 'https', method: :delete, class:"btn btn-info px-3 me-2" %>
      </div>
    </div>
      <% else %>
    <div class="collapse navbar-collapse" id="navbarButtonsExample">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item ">
        ...
        </li>
      </ul>
      <div class="d-flex align-items-center">
          <%= link_to "Login", new_user_session_path, class:"btn btn-secondary px-3 me-2" %> 
          <%= link_to "Sign up", new_user_registration_path, class:"btn btn-danger me-3" %> 
        <a
          class="btn btn-dark px-3"
          href="https://github.com/jarencudilla/Rails-Todo-App---with-Devise"
          role="button"
          ><i class="fab fa-github"></i
        ></a>
      </div>
    </div>
    <% end %>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->