<div class="container bg-light" style="margin-top: 100px; width: 35vw">
  <div class="row">
		<div class="span4 offset4 well">
      <h1 class="text-center">Forgot your password?</h1>
      <hr class="border border-4 colorgraph" style="margin-top: 10px;">

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

        <span class="help-block">
          The Email address you use to log in to your account
          <br>
          We'll send you an email with instructions to choose a new password.
        </span>

  <div class="input-group mb-3">
    <%= f.label :email, class:"input-group-text" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions", class:"btn btn-danger btn-lg btn-block" %>
  </div>
<% end %>
<br/>
<p>Sometimes we remember our password, if we see the Forgot password screen. </p>
<%= render "devise/shared/links" %>
</div>
</div>
</div>
