 <%= form_with model: category do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="field">
    <%= form.label :details %>
    <%= form.text_area :details %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
