 <div class="container bg-light" style="margin-top: 100px; width: 35vw">
  <div class="row">
		<div class="span4 offset4 well">
      <div class="container" style="margin-bottom: 20px; margin-top: 10px;">
      <%= link_to 'Back', categories_path, class:"btn btn-secondary btn-lg float-end" %>
      <h1 class="text-center">Categories</h1>
      </div>
 
 <%= form_with model: category do |f| %>
  <div class="input-group mb-3">
    <%= f.label :name, class:"input-group-text" %>
    <%= f.text_field :name, class:"form-control" %>
  </div>
  <div class="input-group mb-3">
    <%= f.label :details, class:"input-group-text" %>
    <%= f.text_area :details, class:"form-control" %>
  </div>

  <div class="actions">
    <%= f.submit class:"btn btn-danger btn-lg btn-block" %>
  </div>
<% end %>
</div>
</div>
</div>